.slideshow-container{
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
  background-color: beige;
}

.slideshow-elements{
  

}

.slideshow-element {
  text-align: center;
  position: absolute;
}

.slideshow-element i,h2{
  font-size: 10rem;
  color: coral;
}


/* start from 12:00 */